In [8]:
import os
import cv2
import pandas as pd

In [9]:
DATA_BASE_DIR: str = "./data"
data_folders = os.listdir(f"{DATA_BASE_DIR}")
data_folders = [ fn for fn in data_folders if fn.strip()[0]!='.' ]
data_folders

['cloudy', 'water', 'green_area', 'desert']

In [10]:
data: dict = {
    "filepath": list(),
    "filename": list(),
    "target": list(),
    "class": list()
}

for folder_idx in range(len( data_folders)):
    fold: str = data_folders[folder_idx]
    fold_path: str = f"{DATA_BASE_DIR}/{fold}"
    files: list = os.listdir(fold_path)
    # 
    # print(len(files))
    data['target'].extend( [folder_idx] * len(files) )
    data['class'].extend( [f"{fold}"] * len(files) )
    data['filename'].extend([ f"{f}" for f in files ] )
    data['filepath'].extend( [ f"{fold_path}/{f}" for f in files ] )

In [11]:
for k, d in data.items():
    print(k, len(d))

filepath 5631
filename 5631
target 5631
class 5631

In [12]:
data = pd.DataFrame(data)
data

                            filepath          filename  target   class
0      ./data/cloudy/train_17406.jpg   train_17406.jpg       0  cloudy
1      ./data/cloudy/train_23953.jpg   train_23953.jpg       0  cloudy
2      ./data/cloudy/train_34585.jpg   train_34585.jpg       0  cloudy
3      ./data/cloudy/train_16042.jpg   train_16042.jpg       0  cloudy
4      ./data/cloudy/train_18084.jpg   train_18084.jpg       0  cloudy
...                              ...               ...     ...     ...
5626   ./data/desert/desert(878).jpg   desert(878).jpg       3  desert
5627   ./data/desert/desert(481).jpg   desert(481).jpg       3  desert
5628   ./data/desert/desert(194).jpg   desert(194).jpg       3  desert
5629  ./data/desert/desert(1076).jpg  desert(1076).jpg       3  desert
5630   ./data/desert/desert(897).jpg   desert(897).jpg       3  desert

[5631 rows x 4 columns]

In [13]:
data = data.sample(frac=1, random_state=18).reset_index(drop=True)
data
# data.to_csv("data.csv", index=False)

                               filepath          filename  target       class
0        ./data/desert/desert(1017).jpg  desert(1017).jpg       3      desert
1      ./data/green_area/Forest_610.jpg    Forest_610.jpg       2  green_area
2        ./data/desert/desert(1087).jpg  desert(1087).jpg       3      desert
3          ./data/cloudy/train_2904.jpg    train_2904.jpg       0      cloudy
4          ./data/cloudy/train_6891.jpg    train_6891.jpg       0      cloudy
...                                 ...               ...     ...         ...
5626      ./data/water/SeaLake_2049.jpg  SeaLake_2049.jpg       1       water
5627      ./data/water/SeaLake_1776.jpg  SeaLake_1776.jpg       1       water
5628      ./data/cloudy/train_14932.jpg   train_14932.jpg       0      cloudy
5629  ./data/green_area/Forest_1419.jpg   Forest_1419.jpg       2  green_area
5630   ./data/green_area/Forest_323.jpg    Forest_323.jpg       2  green_area

[5631 rows x 4 columns]