In [1]:
import os
import cv2
import pandas as pd
import matplotlib.pyplot as plt

## Training Data

In [2]:
DATA_BASE_DIR: str = "./data/data"
data_folders = os.listdir(f"{DATA_BASE_DIR}")
data_folders = [ fn for fn in data_folders if fn.strip()[0]!='.' ]
data_folders

['cloudy', 'water', 'green_area', 'desert']

In [3]:
data: dict = {
    "filepath": list(),
    "filename": list(),
    "target": list(),
    "class": list()
}

for folder_idx in range(len( data_folders)):
    fold: str = data_folders[folder_idx]
    fold_path: str = f"{DATA_BASE_DIR}/{fold}"
    files: list = os.listdir(fold_path)
    # 
    # print(len(files))
    data['target'].extend( [folder_idx] * len(files) )
    data['class'].extend( [f"{fold}"] * len(files) )
    data['filename'].extend([ f"{f}" for f in files ] )
    data['filepath'].extend( [ f"{fold_path}/{f}" for f in files ] )

In [4]:
for k, d in data.items():
    print(k, len(d))

filepath 5852
filename 5852
target 5852
class 5852

In [5]:
data = pd.DataFrame(data)
data

                                 filepath          filename  target   class
0      ./data/data/cloudy/train_17406.jpg   train_17406.jpg       0  cloudy
1      ./data/data/cloudy/train_23953.jpg   train_23953.jpg       0  cloudy
2      ./data/data/cloudy/train_34585.jpg   train_34585.jpg       0  cloudy
3      ./data/data/cloudy/train_16042.jpg   train_16042.jpg       0  cloudy
4      ./data/data/cloudy/train_18084.jpg   train_18084.jpg       0  cloudy
...                                   ...               ...     ...     ...
5847   ./data/data/desert/desert(878).jpg   desert(878).jpg       3  desert
5848   ./data/data/desert/desert(481).jpg   desert(481).jpg       3  desert
5849   ./data/data/desert/desert(194).jpg   desert(194).jpg       3  desert
5850  ./data/data/desert/desert(1076).jpg  desert(1076).jpg       3  desert
5851   ./data/data/desert/desert(897).jpg   desert(897).jpg       3  desert

[5852 rows x 4 columns]

In [6]:
data = data.sample(frac=1, random_state=18).reset_index(drop=True)
data
# data.to_csv("data.csv", index=False)

,filepath,filename,target,class
0,./data/data/desert/desert(582).jpg,desert(582).jpg,3,desert
1,./data/data/water/SeaLake_1361.jpg,SeaLake_1361.jpg,1,water
2,./data/data/cloudy/train_32704.jpg,train_32704.jpg,0,cloudy
3,./data/data/desert/desert(405).jpg,desert(405).jpg,3,desert
4,./data/data/green_area/Forest_2253.jpg,Forest_2253.jpg,2,green_area
...,...,...,...,...
5847,./data/data/water/212.jpg,212.jpg,1,water
5848,./data/data/water/SeaLake_2087.jpg,SeaLake_2087.jpg,1,water
5849,./data/data/cloudy/train_14932.jpg,train_14932.jpg,0,cloudy
5850,./data/data/green_area/Forest_528.jpg,Forest_528.jpg,2,green_area
5851,./data/data/green_area/Forest_916.jpg,Forest_916.jpg,2,green_area

## Validation Data

In [12]:
EVAL_BASE_DIR: str = "./data/sacair_data/validation"
val_folders = os.listdir(f"{EVAL_BASE_DIR}")
val_folders = [ fn for fn in val_folders if fn.strip()[0]!='.' ]
val_folders

['cloudy', 'water', 'green_area', 'desert']

In [13]:
eval: dict = {
    "filepath": list(),
    "filename": list(),
    "target": list(),
    "class": list()
}

for folder_idx in range(len( val_folders)):
    fold: str = val_folders[folder_idx]
    fold_path: str = f"{EVAL_BASE_DIR}/{fold}"
    files: list = os.listdir(fold_path)
    # 
    # print(len(files))
    eval['target'].extend( [folder_idx] * len(files) )
    eval['class'].extend( [f"{fold}"] * len(files) )
    eval['filename'].extend([ f"{f}" for f in files ] )
    eval['filepath'].extend( [ f"{fold_path}/{f}" for f in files ] )

In [14]:
for k, d in eval.items():
    print(k, len(d))

filepath 27
filename 27
target 27
class 27

In [15]:
eval = pd.DataFrame(eval)
eval

,filepath,filename,target,class
0,./data/sacair_data/validation/cloudy/train_106...,train_10667.jpg,0,cloudy
1,./data/sacair_data/validation/cloudy/train_175...,train_17569.jpg,0,cloudy
2,./data/sacair_data/validation/water/SeaLake_23...,SeaLake_2314.jpg,1,water
3,./data/sacair_data/validation/water/SeaLake_16...,SeaLake_1692.jpg,1,water
4,./data/sacair_data/validation/water/SeaLake_21...,SeaLake_2176.jpg,1,water
5,./data/sacair_data/validation/water/SeaLake_20...,SeaLake_2003.jpg,1,water
6,./data/sacair_data/validation/water/SeaLake_13...,SeaLake_135.jpg,1,water
7,./data/sacair_data/validation/water/SeaLake_78...,SeaLake_78.jpg,1,water
8,./data/sacair_data/validation/water/SeaLake_72...,SeaLake_729.jpg,1,water
9,./data/sacair_data/validation/water/SeaLake_13...,SeaLake_1313.jpg,1,water
10,./data/sacair_data/validation/water/SeaLake_40...,SeaLake_403.jpg,1,water
11,./data/sacair_data/validation/water/SeaLake_95...,SeaLake_952.jpg,1,water
12,./data/sacair_data/validation/green_area/Fores...,Forest_2137.jpg,2,green_area
13,./data/sacair_data/validation/green_area/Fores...,Forest_2867.jpg,2,green_area
14,./data/sacair_data/validation/green_area/Fores...,Forest_2172.jpg,2,green_area
15,./data/sacair_data/validation/green_area/Fores...,Forest_2869.jpg,2,green_area
16,./data/sacair_data/validation/green_area/Fores...,Forest_315.jpg,2,green_area
17,./data/sacair_data/validation/desert/desert(72...,desert(729).jpg,3,desert
18,./data/sacair_data/validation/desert/desert(75...,desert(75).jpg,3,desert
19,./data/sacair_data/validation/desert/desert(65...,desert(657).jpg,3,desert
20,./data/sacair_data/validation/desert/desert(60...,desert(606).jpg,3,desert
21,./data/sacair_data/validation/desert/desert(62...,desert(629).jpg,3,desert
22,./data/sacair_data/validation/desert/desert(94...,desert(941).jpg,3,desert
23,./data/sacair_data/validation/desert/desert(84...,desert(84).jpg,3,desert
24,./data/sacair_data/validation/desert/desert(66...,desert(669).jpg,3,desert
25,./data/sacair_data/validation/desert/desert(66...,desert(665).jpg,3,desert
26,./data/sacair_data/validation/desert/desert(48...,desert(481).jpg,3,desert

In [19]:
eval = eval.sample(frac=1, random_state=18).reset_index(drop=True)
eval
eval.to_csv("eval.csv", index=False)